@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(
      to bottom right,
      rgba(10, 10, 35, 0.85) 0%,
      rgba(30, 30, 60, 0.7) 100%
    ),
    url("/src/assets/ImageCompany.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 900px) {
  .landing-container {
    background-attachment: scroll;
    background-position: center top;
  }
}
