@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #00001a;
}

.main-content {
  flex-grow: 1;

  padding-top: 80px;
  padding-bottom: 80px;
}

.landing-content-width {
  max-width: 40%;
  width: 90%;
  margin: 0 auto;
}
